<html>
<body style="background-color:plum;">
<ul>
<h1 style="background-color:aquamarine;text-align:center;"><marquee>Company website</marquee></h1>
<li><a routerLink="home" style="color:black;font-size:30px;">Home</a></li>
<br>
<li><a routerLink="dashboard" style="color:black;font-size:30px;">dashboard</a><li>
<br>
<li><a routerLink="employees" style="color:black;font-size:30px;">employees</a><li>
<br>
<li><a routerLink="list" style="color:black;font-size:30px;">list</a><li>
<br>
<li><a routerLink="firstform" style="color:black;font-size:30px;">firstform</a><li>
<br>
<router-outlet></router-outlet>
</ul>
</body>
</html> 